<service>
  <id>{{SERVICE_ID}}</id>
  <name>{{SERVICE_NAME}}</name>
  <description>Local Agent Control dashboard server.</description>
  <executable>{{POWERSHELL_PATH}}</executable>
  <arguments>{{POWERSHELL_ARGUMENTS}}</arguments>
  <workingdirectory>{{REPO_PATH}}</workingdirectory>
  <logpath>{{LOG_PATH}}</logpath>
  <log mode="roll-by-size">
    <sizeThreshold>10485760</sizeThreshold>
    <keepFiles>5</keepFiles>
  </log>
  <onfailure action="restart" delay="10 sec" />
  <onfailure action="restart" delay="30 sec" />
  <resetfailure>1 hour</resetfailure>
</service>
